@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100'
html, body
  font-family 'Roboto Mono', monospace
  background #212121
  height 100%
.container
  height 100%
  width 100%
  padding -400px
  margin 10px
  writing-mode vertical-lr
  justify-content center
  transform rotate(180deg)
  display fixed
.text
  font-weight 100
  font-size 28px
  color #FAFAFA
.dud
  color #757575
